.will-change-transform {
  will-change: transform;
}
.bg-clip-text-custom {
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.bg-clip-text-custom.gradient {
	background-image: linear-gradient(45deg,#ff00ff, #2EA1D8);
	font-weight: 600;
}
.mouseClose{
	opacity:calc(0 + 0.5 + ( --posY / 10000 ) );
}
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
